<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <script src="https://kit.fontawesome.com/207fe72a87.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css" />
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
</head>

<body class="is-flex is-justify-content-center">
    <div class="dropdown is-active">
        <div class="dropdown-trigger">
            <input id="searchbar-dynamic" class="input is-medium" type="text" placeholder="Large input"
                aria-haspopup="true" aria-controls="dropdown-menu" />
        </div>

        <!--  -->

        <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content" id="dropdown-menu-titles">

                <!-- <hr class="dropdown-divider"> -->
                <!-- <a href="#" class="dropdown-item">
                    With a divider
                </a> -->
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="/assets/js/script.js"></script>

    <body>

</html>