:root {
  --black: #000000ff;
  --oxford-blue: #14213dff;
  --orange-web: #fca311ff;
  --platinum: #e5e5e5ff;
  --white: #ffffffff;
}

.filmgo-logo {
  height: 100%;
  width: 100%;
}

.navbar {
  background-color: black;
}

.navbar-item {
  color: #fca311ff;
  font-size: 25px;
  font-weight: bold;
  padding: 20px;
}

.buttons {
  padding-top: 75px;
}

@media screen and (max-width: 1022px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }

  .navbar-brand {
    width: fit-content;
    display: flex;
    justify-content: center;
  }

  header {
    width: 100%;
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: black;
  }

  .buttons {
    padding: 0px;
  }

  .navbar-dropdown {
    display: none;
  }

  .navbar-item:hover {
    display: block;
  }
  /* Banner settings jeerjs */
  .custom-banner-image {
    background-size: cover;
    display: flex;
    background-image: url(/images/Avatar/BG.png);
  }

  .custom-btn-banner-size {
    min-width: 200px;
  }

  .scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    height: 200px;
  }
  .custom-btn-banner-size {
    flex: 0 0 auto;
  }
  .scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
  }
}
@media screen and (max-width: 768px) {
  .scrolling-wrapper {
    flex-direction: column;
    overflow-x: none;
    height: 100%;
  }
}
