:root {
  --black: #000000ff;
  --oxford-blue: #14213dff;
  --orange-web: #fca311ff;
  --platinum: #e5e5e5ff;
  --white: #ffffffff;
}

/* AboutMe Card AA */
.card {
  width: 20%;
}
.socialmediaicons {
  display: flex;
  justify-content: center;
}

.filmgo-logo {
  height: 100%;
  width: 100%;
}

.navbar {
  background-color: black;
}

.navbar-item {
  color: #fca311ff;
  font-size: 25px;
  font-weight: bold;
  padding: 20px;
}

.buttons {
  padding-top: 75px;
}

@media screen and (max-width: 1108px) {
  .navbar {
    display: flex;
    flex-direction: row;
  }

  .navbar-brand {
    width: fit-content;
    display: flex;
    justify-content: center;
  }

  header {
    width: 100%;
  }
  .navbar-end {
    display: flex;
    flex-direction: row;
  }
  .navbar-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: black;
  }

  .buttons {
    padding: 0px;
  }

  .navbar-dropdown {
    display: none;
  }

  .navbar-item:hover {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .navbar-end {
    flex-direction: column;
  }
  .navbar-brand {
    width: fit-content;
    display: flex;
    justify-content: center;
  }

  header {
    width: 100%;
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: black;
  }

  .buttons {
    padding: 0px;
  }

  .navbar-dropdown {
    display: none;
  }

  .navbar-item:hover {
    display: block;
  }
}
/* Banner settings jeerjs */

.custom-banner-image {
  background-size: cover;
  display: flex;
  background-image: url("/images/Avatar/BG.png");
  background-image: url(/images/AvatarBG.png);
}
@media screen and (max-width: 1022px) {
  .custom-btn-banner-size {
    min-width: 200px;
  }

  .scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    height: 200px;
  }
  .custom-btn-banner-size {
    flex: 0 0 auto;
  }
  .scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
  }
}
@media screen and (max-width: 768px) {
  .scrolling-wrapper {
    flex-direction: column;
    overflow-x: none;
    height: 100%;
  }
}

/* This is for the Third page - Fabio */

/* This is for the trailer and poster */
#moviDataFigureContainer-Display {
  display: flex;
}

.moviDataFigureTrailer {
  width: 74%;
}

#moviDataFigureContainer-Display > figure {
  width: 25%;
}

#main-Container {
  width: 75%;
  box-shadow: 0 0 20px 10px #f3f3f3;
  padding: 1rem 4rem;
  border-radius: 10px;
}
.trailer {
  width: 100%;
  height: 100%;
}

/* This is for the related videos */
.rounded {
  border-radius: 10px;
}

.border-black {
  border: 2px solid rgba(0, 0, 0, 0.87);
}
.movieData-YoutubeVideosContainer {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  border-radius: 10px;
}

.movieData-YoutubeVideos,
.thumbnail-sizing {
  flex: 0 0 30%;
  min-width: 200px;
  margin-bottom: 1rem;
  background-color: rebeccapurple;
}
@media screen and (max-width: 1150px) {
  
  .movieData-YoutubeVideos,
.thumbnail-sizing {
  flex: 0 0 45%;
}

@media screen and (max-width: 768px) {
  #main-Container {
    width: 95%;
    padding: 1rem 1.25rem;
  }
  #moviDataFigureContainer-Display {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #moviDataFigureContainer-Display > figure {
    margin-bottom: 1rem;
    width: 100%;
  }
  .moviDataFigureTrailer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  .trailer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .is-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .thumbnail-sizing {
    flex: 0 0 90%;
  }
  .thumbnail-sizing > img {
    width: 100%;
  }

  /* YOutuve */
  .movieData-YoutubeVideos {
    flex: 0 0 100%;
  }
}
